-- CreateEnum
CREATE TYPE "AccountStatus" AS ENUM ('ACTIVE', 'INACTIVE');

-- CreateEnum
CREATE TYPE "VerificationStatus" AS ENUM ('PENDING', 'VERIFIED', 'EXPIRED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "OtpStatus" AS ENUM ('ACTIVE', 'USED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "AuditAction" AS ENUM ('CREATE', 'UPDATE', 'DELETE', 'LOGIN_SUCCESS', 'LOGIN_FAILED', 'LOGOUT', 'OTP_REQUESTED', 'OTP_VERIFIED', 'OTP_FAILED', 'SESSION_CREATED', 'SESSION_EXPIRED', 'SESSION_REVOKED', 'ACCOUNT_DISABLED', 'ACCOUNT_ENABLED', 'PASSWORD_CHANGED', 'IDENTITY_CREATED', 'IDENTITY_UPDATED', 'WILAYAH_CREATED', 'WILAYAH_UPDATED', 'WILAYAH_DELETED', 'PENDUDUK_CREATED', 'PENDUDUK_UPDATED', 'PENDUDUK_DELETED', 'KELUARGA_CREATED', 'KELUARGA_UPDATED', 'KELUARGA_DELETED', 'ANGGOTA_ADDED', 'ANGGOTA_REMOVED');

-- CreateEnum
CREATE TYPE "ActorType" AS ENUM ('USER', 'SYSTEM', 'API');

-- CreateEnum
CREATE TYPE "ConfigType" AS ENUM ('STRING', 'NUMBER', 'BOOLEAN', 'JSON');

-- CreateTable
CREATE TABLE "provinsi" (
    "id" BIGSERIAL NOT NULL,
    "kode" VARCHAR(10) NOT NULL,
    "nama" VARCHAR(100) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "provinsi_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "kabupaten" (
    "id" BIGSERIAL NOT NULL,
    "provinsi_id" BIGINT NOT NULL,
    "kode" VARCHAR(10) NOT NULL,
    "nama" VARCHAR(100) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "kabupaten_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "kecamatan" (
    "id" BIGSERIAL NOT NULL,
    "kabupaten_id" BIGINT NOT NULL,
    "kode" VARCHAR(10) NOT NULL,
    "nama" VARCHAR(100) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "kecamatan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "desa" (
    "id" BIGSERIAL NOT NULL,
    "kecamatan_id" BIGINT NOT NULL,
    "kode" VARCHAR(10) NOT NULL,
    "nama" VARCHAR(100) NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "desa_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "identitas_desa" (
    "id" BIGSERIAL NOT NULL,
    "desa_id" BIGINT NOT NULL,
    "nama_desa" VARCHAR(100) NOT NULL,
    "singkatan_desa" VARCHAR(20),
    "kode_desa" VARCHAR(10),
    "alamat" TEXT,
    "kodepos" VARCHAR(10),
    "telepon" VARCHAR(20),
    "whatsapp" VARCHAR(20),
    "email" VARCHAR(255),
    "website" VARCHAR(255),
    "logo_desa_url" VARCHAR(500),
    "logo_kabupaten_url" VARCHAR(500),
    "favicon_url" VARCHAR(500),
    "kepala_desa" VARCHAR(100),
    "sekretaris_desa" VARCHAR(100),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "identitas_desa_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "account" (
    "id" BIGSERIAL NOT NULL,
    "username" VARCHAR(50) NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "password_hash" VARCHAR(255) NOT NULL,
    "status" "AccountStatus" DEFAULT 'ACTIVE',
    "last_login_at" TIMESTAMP(6),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "role" (
    "id" BIGSERIAL NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "role_code" VARCHAR(50) NOT NULL,
    "description" TEXT,
    "is_system" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "role_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "permission" (
    "id" BIGSERIAL NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "permission_code" VARCHAR(100) NOT NULL,
    "description" TEXT,
    "group_name" VARCHAR(50),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "permission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "account_role" (
    "id" BIGSERIAL NOT NULL,
    "account_id" BIGINT NOT NULL,
    "role_id" BIGINT NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "account_role_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "role_permission" (
    "id" BIGSERIAL NOT NULL,
    "role_id" BIGINT NOT NULL,
    "permission_id" BIGINT NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "role_permission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "citizen_verification" (
    "id" BIGSERIAL NOT NULL,
    "penduduk_id" BIGINT NOT NULL,
    "verification_challenge" VARCHAR(100) NOT NULL,
    "status" "VerificationStatus" DEFAULT 'PENDING',
    "attempts" INTEGER DEFAULT 0,
    "expires_at" TIMESTAMP(6) NOT NULL,
    "verified_at" TIMESTAMP(6),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "citizen_verification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "otp_challenge" (
    "id" BIGSERIAL NOT NULL,
    "verification_id" BIGINT NOT NULL,
    "otp_hash" VARCHAR(255) NOT NULL,
    "otp_challenge" VARCHAR(100) NOT NULL,
    "status" "OtpStatus" DEFAULT 'ACTIVE',
    "attempts" INTEGER DEFAULT 0,
    "expires_at" TIMESTAMP(6) NOT NULL,
    "used_at" TIMESTAMP(6),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "otp_challenge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "citizen_session" (
    "id" BIGSERIAL NOT NULL,
    "penduduk_id" BIGINT NOT NULL,
    "token" VARCHAR(255) NOT NULL,
    "expires_at" TIMESTAMP(6) NOT NULL,
    "revoked_at" TIMESTAMP(6),
    "ip_address" VARCHAR(45),
    "user_agent" VARCHAR(500),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "citizen_session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "internal_session" (
    "id" BIGSERIAL NOT NULL,
    "account_id" BIGINT NOT NULL,
    "token" VARCHAR(255) NOT NULL,
    "expires_at" TIMESTAMP(6) NOT NULL,
    "revoked_at" TIMESTAMP(6),
    "ip_address" VARCHAR(45),
    "user_agent" VARCHAR(500),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "internal_session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_log" (
    "id" BIGSERIAL NOT NULL,
    "entity_type" VARCHAR(100) NOT NULL,
    "entity_id" BIGINT NOT NULL,
    "action" "AuditAction" NOT NULL,
    "actor_id" BIGINT,
    "actorType" "ActorType" DEFAULT 'USER',
    "actor_ip" VARCHAR(45),
    "actor_agent" VARCHAR(500),
    "before_data" JSONB,
    "after_data" JSONB,
    "reason" TEXT,
    "metadata" JSONB,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_log_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "configuration" (
    "id" BIGSERIAL NOT NULL,
    "group_name" VARCHAR(100) NOT NULL,
    "key" VARCHAR(100) NOT NULL,
    "value" TEXT,
    "value_type" "ConfigType" DEFAULT 'STRING',
    "description" TEXT,
    "is_system" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "configuration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "penduduk" (
    "id" BIGSERIAL NOT NULL,
    "nik" VARCHAR(16) NOT NULL,
    "nama_lengkap" VARCHAR(255) NOT NULL,
    "tempat_lahir" VARCHAR(100) NOT NULL,
    "tanggal_lahir" DATE NOT NULL,
    "jenis_kelamin" VARCHAR(1) NOT NULL,
    "gol_darah" VARCHAR(3),
    "agama" VARCHAR(50),
    "status_perkawinan" VARCHAR(50) NOT NULL,
    "hubungan_keluarga" VARCHAR(50),
    "alamat" TEXT,
    "rt" VARCHAR(10),
    "rw" VARCHAR(10),
    "dusun" VARCHAR(100),
    "kode_pos" VARCHAR(10),
    "telepon" VARCHAR(20),
    "email" VARCHAR(255),
    "warga_negara" VARCHAR(50) DEFAULT 'Indonesia',
    "nik_ayah" VARCHAR(16),
    "nik_ibu" VARCHAR(16),
    "is_aktif" BOOLEAN DEFAULT true,
    "status_kepindahan" VARCHAR(50),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "deleted_at" TIMESTAMP(6),
    "desa_id" BIGINT,

    CONSTRAINT "penduduk_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "keluarga" (
    "id" BIGSERIAL NOT NULL,
    "no_kk" VARCHAR(16) NOT NULL,
    "kepala_id" BIGINT NOT NULL,
    "alamat" TEXT,
    "rt" VARCHAR(10),
    "rw" VARCHAR(10),
    "dusun" VARCHAR(100),
    "kode_pos" VARCHAR(10),
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "deleted_at" TIMESTAMP(6),
    "desa_id" BIGINT,

    CONSTRAINT "keluarga_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "anggota_keluarga" (
    "id" BIGSERIAL NOT NULL,
    "keluarga_id" BIGINT NOT NULL,
    "penduduk_id" BIGINT NOT NULL,
    "hubungan" VARCHAR(50) NOT NULL,
    "is_aktif" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "anggota_keluarga_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "perangkat_desa" (
    "id" BIGSERIAL NOT NULL,
    "penduduk_id" BIGINT NOT NULL,
    "desa_id" BIGINT NOT NULL,
    "jabatan" VARCHAR(100) NOT NULL,
    "status" VARCHAR(50) NOT NULL DEFAULT 'AKTIF',
    "foto_url" VARCHAR(500),
    "account_id" BIGINT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "deleted_at" TIMESTAMP(3),

    CONSTRAINT "perangkat_desa_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ref_agama" (
    "id" BIGSERIAL NOT NULL,
    "kode" VARCHAR(10) NOT NULL,
    "nama" VARCHAR(100) NOT NULL,
    "is_aktif" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ref_agama_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ref_gol_darah" (
    "id" BIGSERIAL NOT NULL,
    "kode" VARCHAR(5) NOT NULL,
    "nama" VARCHAR(20) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ref_gol_darah_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ref_status_perkawinan" (
    "id" BIGSERIAL NOT NULL,
    "kode" VARCHAR(10) NOT NULL,
    "nama" VARCHAR(50) NOT NULL,
    "is_aktif" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ref_status_perkawinan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ref_hubungan_keluarga" (
    "id" BIGSERIAL NOT NULL,
    "kode" VARCHAR(20) NOT NULL,
    "nama" VARCHAR(50) NOT NULL,
    "kategori" VARCHAR(20) NOT NULL,
    "is_aktif" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ref_hubungan_keluarga_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ref_status_kependudukan" (
    "id" BIGSERIAL NOT NULL,
    "kode" VARCHAR(20) NOT NULL,
    "nama" VARCHAR(100) NOT NULL,
    "is_aktif" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ref_status_kependudukan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ref_pendidikan" (
    "id" BIGSERIAL NOT NULL,
    "kode" VARCHAR(10) NOT NULL,
    "nama" VARCHAR(100) NOT NULL,
    "jenjang" INTEGER NOT NULL,
    "is_aktif" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ref_pendidikan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ref_pekerjaan" (
    "id" BIGSERIAL NOT NULL,
    "kode" VARCHAR(10) NOT NULL,
    "nama" VARCHAR(100) NOT NULL,
    "kategori" VARCHAR(50),
    "is_aktif" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ref_pekerjaan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ref_jabatan_perangkat" (
    "id" BIGSERIAL NOT NULL,
    "kode" VARCHAR(20) NOT NULL,
    "nama" VARCHAR(100) NOT NULL,
    "kategori" VARCHAR(50) NOT NULL,
    "urutan" INTEGER NOT NULL DEFAULT 0,
    "is_aktif" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ref_jabatan_perangkat_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ref_status_perangkat" (
    "id" BIGSERIAL NOT NULL,
    "kode" VARCHAR(20) NOT NULL,
    "nama" VARCHAR(50) NOT NULL,
    "is_aktif" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ref_status_perangkat_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "provinsi_kode_key" ON "provinsi"("kode");

-- CreateIndex
CREATE INDEX "provinsi_nama_idx" ON "provinsi"("nama");

-- CreateIndex
CREATE INDEX "kabupaten_provinsi_id_idx" ON "kabupaten"("provinsi_id");

-- CreateIndex
CREATE INDEX "kabupaten_kode_idx" ON "kabupaten"("kode");

-- CreateIndex
CREATE INDEX "kabupaten_nama_idx" ON "kabupaten"("nama");

-- CreateIndex
CREATE UNIQUE INDEX "kabupaten_provinsi_id_kode_key" ON "kabupaten"("provinsi_id", "kode");

-- CreateIndex
CREATE INDEX "kecamatan_kabupaten_id_idx" ON "kecamatan"("kabupaten_id");

-- CreateIndex
CREATE INDEX "kecamatan_kode_idx" ON "kecamatan"("kode");

-- CreateIndex
CREATE INDEX "kecamatan_nama_idx" ON "kecamatan"("nama");

-- CreateIndex
CREATE UNIQUE INDEX "kecamatan_kabupaten_id_kode_key" ON "kecamatan"("kabupaten_id", "kode");

-- CreateIndex
CREATE INDEX "desa_kecamatan_id_idx" ON "desa"("kecamatan_id");

-- CreateIndex
CREATE INDEX "desa_kode_idx" ON "desa"("kode");

-- CreateIndex
CREATE INDEX "desa_nama_idx" ON "desa"("nama");

-- CreateIndex
CREATE UNIQUE INDEX "desa_kecamatan_id_kode_key" ON "desa"("kecamatan_id", "kode");

-- CreateIndex
CREATE UNIQUE INDEX "identitas_desa_desa_id_key" ON "identitas_desa"("desa_id");

-- CreateIndex
CREATE INDEX "identitas_desa_desa_id_idx" ON "identitas_desa"("desa_id");

-- CreateIndex
CREATE UNIQUE INDEX "account_username_key" ON "account"("username");

-- CreateIndex
CREATE UNIQUE INDEX "account_email_key" ON "account"("email");

-- CreateIndex
CREATE UNIQUE INDEX "role_code_key" ON "role"("role_code");

-- CreateIndex
CREATE UNIQUE INDEX "permission_code_key" ON "permission"("permission_code");

-- CreateIndex
CREATE UNIQUE INDEX "account_role_account_id_role_id_key" ON "account_role"("account_id", "role_id");

-- CreateIndex
CREATE UNIQUE INDEX "role_permission_role_id_permission_id_key" ON "role_permission"("role_id", "permission_id");

-- CreateIndex
CREATE UNIQUE INDEX "citizen_verification_verification_challenge_key" ON "citizen_verification"("verification_challenge");

-- CreateIndex
CREATE UNIQUE INDEX "otp_challenge_otp_challenge_key" ON "otp_challenge"("otp_challenge");

-- CreateIndex
CREATE UNIQUE INDEX "citizen_session_token_key" ON "citizen_session"("token");

-- CreateIndex
CREATE UNIQUE INDEX "internal_session_token_key" ON "internal_session"("token");

-- CreateIndex
CREATE INDEX "audit_log_entity_type_entity_id_idx" ON "audit_log"("entity_type", "entity_id");

-- CreateIndex
CREATE INDEX "audit_log_actor_id_idx" ON "audit_log"("actor_id");

-- CreateIndex
CREATE INDEX "audit_log_created_at_idx" ON "audit_log"("created_at");

-- CreateIndex
CREATE UNIQUE INDEX "configuration_group_name_key_key" ON "configuration"("group_name", "key");

-- CreateIndex
CREATE UNIQUE INDEX "penduduk_nik_key" ON "penduduk"("nik");

-- CreateIndex
CREATE INDEX "penduduk_nik_idx" ON "penduduk"("nik");

-- CreateIndex
CREATE INDEX "penduduk_desa_id_idx" ON "penduduk"("desa_id");

-- CreateIndex
CREATE INDEX "penduduk_nama_lengkap_idx" ON "penduduk"("nama_lengkap");

-- CreateIndex
CREATE UNIQUE INDEX "keluarga_no_kk_key" ON "keluarga"("no_kk");

-- CreateIndex
CREATE UNIQUE INDEX "keluarga_kepala_id_key" ON "keluarga"("kepala_id");

-- CreateIndex
CREATE INDEX "keluarga_no_kk_idx" ON "keluarga"("no_kk");

-- CreateIndex
CREATE INDEX "keluarga_kepala_id_idx" ON "keluarga"("kepala_id");

-- CreateIndex
CREATE INDEX "keluarga_desa_id_idx" ON "keluarga"("desa_id");

-- CreateIndex
CREATE INDEX "anggota_keluarga_keluarga_id_idx" ON "anggota_keluarga"("keluarga_id");

-- CreateIndex
CREATE INDEX "anggota_keluarga_penduduk_id_idx" ON "anggota_keluarga"("penduduk_id");

-- CreateIndex
CREATE UNIQUE INDEX "anggota_keluarga_keluarga_id_penduduk_id_key" ON "anggota_keluarga"("keluarga_id", "penduduk_id");

-- CreateIndex
CREATE UNIQUE INDEX "perangkat_desa_account_id_key" ON "perangkat_desa"("account_id");

-- CreateIndex
CREATE INDEX "perangkat_desa_penduduk_id_idx" ON "perangkat_desa"("penduduk_id");

-- CreateIndex
CREATE INDEX "perangkat_desa_desa_id_idx" ON "perangkat_desa"("desa_id");

-- CreateIndex
CREATE INDEX "perangkat_desa_jabatan_idx" ON "perangkat_desa"("jabatan");

-- CreateIndex
CREATE INDEX "perangkat_desa_status_idx" ON "perangkat_desa"("status");

-- CreateIndex
CREATE UNIQUE INDEX "ref_agama_kode_key" ON "ref_agama"("kode");

-- CreateIndex
CREATE INDEX "ref_agama_kode_idx" ON "ref_agama"("kode");

-- CreateIndex
CREATE INDEX "ref_agama_nama_idx" ON "ref_agama"("nama");

-- CreateIndex
CREATE UNIQUE INDEX "ref_gol_darah_kode_key" ON "ref_gol_darah"("kode");

-- CreateIndex
CREATE UNIQUE INDEX "ref_status_perkawinan_kode_key" ON "ref_status_perkawinan"("kode");

-- CreateIndex
CREATE INDEX "ref_status_perkawinan_kode_idx" ON "ref_status_perkawinan"("kode");

-- CreateIndex
CREATE UNIQUE INDEX "ref_hubungan_keluarga_kode_key" ON "ref_hubungan_keluarga"("kode");

-- CreateIndex
CREATE INDEX "ref_hubungan_keluarga_kode_idx" ON "ref_hubungan_keluarga"("kode");

-- CreateIndex
CREATE INDEX "ref_hubungan_keluarga_kategori_idx" ON "ref_hubungan_keluarga"("kategori");

-- CreateIndex
CREATE UNIQUE INDEX "ref_status_kependudukan_kode_key" ON "ref_status_kependudukan"("kode");

-- CreateIndex
CREATE INDEX "ref_status_kependudukan_kode_idx" ON "ref_status_kependudukan"("kode");

-- CreateIndex
CREATE UNIQUE INDEX "ref_pendidikan_kode_key" ON "ref_pendidikan"("kode");

-- CreateIndex
CREATE INDEX "ref_pendidikan_kode_idx" ON "ref_pendidikan"("kode");

-- CreateIndex
CREATE INDEX "ref_pendidikan_jenjang_idx" ON "ref_pendidikan"("jenjang");

-- CreateIndex
CREATE UNIQUE INDEX "ref_pekerjaan_kode_key" ON "ref_pekerjaan"("kode");

-- CreateIndex
CREATE INDEX "ref_pekerjaan_kode_idx" ON "ref_pekerjaan"("kode");

-- CreateIndex
CREATE INDEX "ref_pekerjaan_kategori_idx" ON "ref_pekerjaan"("kategori");

-- CreateIndex
CREATE UNIQUE INDEX "ref_jabatan_perangkat_kode_key" ON "ref_jabatan_perangkat"("kode");

-- CreateIndex
CREATE INDEX "ref_jabatan_perangkat_kode_idx" ON "ref_jabatan_perangkat"("kode");

-- CreateIndex
CREATE INDEX "ref_jabatan_perangkat_kategori_idx" ON "ref_jabatan_perangkat"("kategori");

-- CreateIndex
CREATE INDEX "ref_jabatan_perangkat_urutan_idx" ON "ref_jabatan_perangkat"("urutan");

-- CreateIndex
CREATE UNIQUE INDEX "ref_status_perangkat_kode_key" ON "ref_status_perangkat"("kode");

-- AddForeignKey
ALTER TABLE "kabupaten" ADD CONSTRAINT "kabupaten_provinsi_id_foreign" FOREIGN KEY ("provinsi_id") REFERENCES "provinsi"("id") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "kecamatan" ADD CONSTRAINT "kecamatan_kabupaten_id_foreign" FOREIGN KEY ("kabupaten_id") REFERENCES "kabupaten"("id") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "desa" ADD CONSTRAINT "desa_kecamatan_id_foreign" FOREIGN KEY ("kecamatan_id") REFERENCES "kecamatan"("id") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "identitas_desa" ADD CONSTRAINT "identitas_desa_desa_id_foreign" FOREIGN KEY ("desa_id") REFERENCES "desa"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "account_role" ADD CONSTRAINT "account_role_account_id_foreign" FOREIGN KEY ("account_id") REFERENCES "account"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "account_role" ADD CONSTRAINT "account_role_role_id_foreign" FOREIGN KEY ("role_id") REFERENCES "role"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "role_permission" ADD CONSTRAINT "role_permission_permission_id_foreign" FOREIGN KEY ("permission_id") REFERENCES "permission"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "role_permission" ADD CONSTRAINT "role_permission_role_id_foreign" FOREIGN KEY ("role_id") REFERENCES "role"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "citizen_verification" ADD CONSTRAINT "citizen_verification_penduduk_id_foreign" FOREIGN KEY ("penduduk_id") REFERENCES "penduduk"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "otp_challenge" ADD CONSTRAINT "otp_challenge_verification_id_foreign" FOREIGN KEY ("verification_id") REFERENCES "citizen_verification"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "citizen_session" ADD CONSTRAINT "citizen_session_penduduk_id_foreign" FOREIGN KEY ("penduduk_id") REFERENCES "penduduk"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "internal_session" ADD CONSTRAINT "internal_session_account_id_foreign" FOREIGN KEY ("account_id") REFERENCES "account"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "penduduk" ADD CONSTRAINT "penduduk_desa_id_foreign" FOREIGN KEY ("desa_id") REFERENCES "desa"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "keluarga" ADD CONSTRAINT "keluarga_desa_id_foreign" FOREIGN KEY ("desa_id") REFERENCES "desa"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "keluarga" ADD CONSTRAINT "keluarga_kepala_id_foreign" FOREIGN KEY ("kepala_id") REFERENCES "penduduk"("id") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "anggota_keluarga" ADD CONSTRAINT "anggota_keluarga_keluarga_id_foreign" FOREIGN KEY ("keluarga_id") REFERENCES "keluarga"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "anggota_keluarga" ADD CONSTRAINT "anggota_keluarga_penduduk_id_foreign" FOREIGN KEY ("penduduk_id") REFERENCES "penduduk"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "perangkat_desa" ADD CONSTRAINT "perangkat_desa_account_id_fkey" FOREIGN KEY ("account_id") REFERENCES "account"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "perangkat_desa" ADD CONSTRAINT "perangkat_desa_desa_id_fkey" FOREIGN KEY ("desa_id") REFERENCES "desa"("id") ON DELETE RESTRICT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "perangkat_desa" ADD CONSTRAINT "perangkat_desa_penduduk_id_fkey" FOREIGN KEY ("penduduk_id") REFERENCES "penduduk"("id") ON DELETE RESTRICT ON UPDATE NO ACTION;

